/*
    Serambi BlankOn Style
    Penggembala Somat somat@lc.vlsm.org
*/

/* === General === */
body {
    background: #fff;
    color: #000;
    margin: 0;
}

body, th, td {
    font: normal 13px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
}

h1, h2, h3, h4 {
    font-family: arial,verdana,'Bitstream Vera Sans',helvetica,sans-serif;
    font-weight: bold;
    letter-spacing: -0.018em;
}

h1 { font-size: 19px; margin: .15em 1em 0 0 }
h2 { font-size: 16px }
h3 { font-size: 14px }
hr { border: none;  border-top: 1px solid #ccb; margin: 2em 0 }
address { font-style: normal }
img { border: none }
tt { white-space: pre }

/* === Link styles === */
:link, :visited {
    text-decoration: none;
    color: #b00;
    border-bottom: 1px dotted #bbb;
}

:link:hover, :visited:hover {
    background-color: #eee;
    color: #555;
}

h1 :link, h1 :visited ,h2 :link, h2 :visited, h3 :link, h3 :visited,
h4 :link, h4 :visited, h5 :link, h5 :visited, h6 :link, h6 :visited {
    color: inherit;
}

#header {
    padding-top: 10px;
    padding-left: 10px;
    width: 40%;
    float: left;
}

#header2 {
    float: right;
    width: 40%;
    color: #fff;
    text-align: right;
    padding-right: 10px;
    padding-top: 30px;
}

#nama {
    font: bold 35px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
}

#nama :link, #nama :link:hover, #nama :visited, #nama :visited:hover {
    background: transparent;
    color: #fff;
    margin-bottom: 2px;
    border: none; 
    text-decoration: none;
}

#tanggal {
    font: bold 12px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
}

#header hr { display: none }
#header h1 { margin: 1.5em 0 -1.5em; }
#header img { border: none; margin: 0 0 -3em }
#header :link, #header :visited, #header :link:hover, #header :visited:hover {
    background: transparent;
    color: #555;
    margin-bottom: 2px;
    border: none; 
}

#header h1 :link:hover, #header h1 :visited:hover { color: #000 }

/* Navigation */
.nav h2, .nav hr { display: none }
.nav ul { font-size: 10px; list-style: none; margin: 0; text-align: right }
.nav li {
    display: inline;
    padding: 0 .75em;
    white-space: nowrap;
}
.nav li.last { border-right: none }

/* Main navigation bar */
#mainnav {
    width: 100%;
    background: #f7f7f7 url(images/topbar_gradient.png) 0 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font: normal 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
    padding: .2em 0;
}

#mainnav li { border-right: none; padding: .25em 0 }

#mainnav :link, #mainnav :visited {
    background: url(images/dots.gif) 0 0 no-repeat;
    border-bottom: none;
    border-left: 1px solid #555;
    color: #000;
    padding: .2em 20px;
}

* html #mainnav :link, * html #mainnav :visited { background-position: 1px 0 }

#mainnav :link:hover, #mainnav :visited:hover {
    background-color: #ccc;
    border-right: 1px solid #ddd;
}

#mainnav .active :link, #mainnav .active :visited {
    background: #333 url(images/topbar_gradient2.png) 0 0 repeat-x;
    border-top: none;
    border-right: 1px solid #000;
    color: #eee;
    font-weight: bold;
}

#mainnav .active :link:hover, #mainnav .active :visited:hover {
    border-right: 1px solid #000;
}

/* === Positioning === */
#container {
    width: 100%;
    margin: 0;
}

#contaner2 {
    width: 100%;
    margin: 0;
}

#banner {
    width: 100%;
	/*background: #000;*/
	background-image: url("images/header.png");
	padding-bottom: 1em;
	height: 86px;
}

#bodycontent {
    width: 80%;
    margin: 0;
    margin-top: 1em;
	float: left;
}

#sidebar {
    width: 18%;
    float: right;
    padding-left: 0.9em;
    margin-top: 1em;
}

/* === Footer === */
#footer {
    width: 100%;
    text-align: center;
	font-size: x-small;
	clear: both;
	color: #ccc;
	padding-top: .1em;
}

#footer p {
    color: #000;
}



/* === posting === */
div.post {
	position: relative;
	margin-left: 10em;
	padding: 2em;
}

div.post-header {
    position: relative;
    margin-top: 1em;
}

.post-title {
	position: relative;
	z-index: 1;
	margin-top: 0px;
	font-size: large;
	margin-left: 1em;
}

.post-title a {
	text-decoration: none;
}

.post-contents {
	position: relative;
	overflow: auto;
	z-index: 1;
	line-height: 140%;
	margin-left: 2em;
	margin-right: 2em;
	text-align: justify;
}

.post-contents h2, .post-contents h3, .post-contents h4 {
	font-size: 100%;
	font-weight: bold;
}

.post-contents img {
	width: auto;
	max-width: 100%;
	height: auto;
}

.post-contents a img {
	border: 0px;
}

.post-contents blockquote, .post-contents pre {
	color: #777;
	margin: auto 1em auto 1em;
	padding-left: 1em;
	border-left: 5px solid #ddd;
}

.post-contents pre {
	overflow: auto;
}

.post-contents ul {
	margin: 0px;
	margin-left: 1em;
	padding: 0px;
}
.post-contents ul li {
	margin: 1em;
	padding: 0px;
	list-style-image: url(images/dot.ico);
}

.post-contents .delicious-tags {
	text-align: right;
	font-size: x-small;
}

.post-contents .wp-caption {
	width: auto !important;
}
.post-contents .wp-caption .wp-caption-text {
	margin: 0;
	border-bottom: 1px solid #ccc;
	background-color: #eee;
	text-align: center;
	font-size: x-small;
}

.post-contents:after {
	content: "";
	display: block;
	clear: both;
}

.post-footer {
	margin-top: 1em;
	margin-bottom: 2em;
	margin-left: 2em;
}
.post-footer p {
	position: relative;
	z-index: 1;
	margin: 0;
	font-size: small;
	text-align: right;
}
.post-footer p a {
	text-decoration: none;
	color: #777;
}
.post-footer p a:hover {
	text-decoration: underline;
	color: inherit;
}

/* Person Info*/
div.person-info {
	position: relative;
	z-index: 1;
	margin-top: 25px !important;
	margin-left: -1em;
	padding: 0 1.5em 0 1em;
	left: 4px;
	width: 8.5em;
	background: url(images/nipple.png) top right no-repeat;
	text-align: center;
	float: left;
}

div.person-info a {
	text-decoration: none;
	color: #777;
	font-size: small;
}
div.person-info a:hover {
	color: inherit;
}
div.person-info a img {
	border: 0px;
	margin-bottom: 1ex;
}

/* ========= Balon ========= */
b.cr {
	position: absolute;
	background-image: url(images/corners.png);
	width: 50px;
	height: 50px;
}

b.tl { top: 0px; left: 0px; background-position: top left; }
b.tr { top: 0px; right: 0px; background-position: top right; }
b.bl { bottom: 0px; left: 0px; background-position: bottom left; }
b.br { bottom: 0px; right: 0px; background-position: bottom right; }

b.vt {
	position: absolute;
	background: url(images/vertical.png) repeat-y;
	width: 50px;
	height: 100%;
}
b.lt { top: 0px; left: 0px; background-position: top left; }
b.rt { top: 0px; right: 0px; background-position: top right; }

b.hz {
	position: absolute;
	background: url(images/horizontal.png) repeat-x;
	width: 100%;
	height: 50px;
}
b.to { top: 0px; left: 0px; background-position: top left; }
b.bo { bottom: 0px; left: 0px; background-position: bottom left; }







